<!-- Register Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Formulario de Registro</h5>
        <span class="close bi bi-x-circle" data-bs-dismiss="modal"></span>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" id="modalForm" novalidate>
          <label for="validationCustomUnidad" class="form-label">Unidad</label>
          <input type="text" id="validationCustomUnidad" placeholder="Ej.: 001" required />

          <label for="validationCustomPlaca" class="form-label">Placa</label>
          <input type="text" id="validationCustomPlaca" placeholder="Placa" required />

          <label for="validationCustomNombre" class="form-label">Nombre, Apellido (Apodo)</label>
          <input type="text" id="validationCustomNombre" placeholder="Ej.: Juan, Perez
          " required />

          <label for="validationCustomWhatsapp" class="form-label">Whatsapp</label>
          <input type="text" id="validationCustomWhatsapp" placeholder="61231234" required />
          <script>
            document.getElementById("validationCustomWhatsapp").addEventListener("input", function (event) {
              // Eliminar cualquier carácter no numérico
              this.value = this.value.replace(/[^0-9]/g, '');
            });
          </script>
          
          <label for="validationCustomEmail" class="form-label">Correo</label>
          <input type="email" id="validationCustomEmail" placeholder="Correo" required autocomplete="username" />
          <div class="invalid-feedback">
            Por favor, ingrese un correo válido.
          </div>

          <label for="validationCustomPassword" class="form-label">Contraseña</label>
          <input type="password" id="validationCustomPassword" placeholder="Contraseña" required
            autocomplete="current-password" />
          <div class="invalid-feedback">Por favor, ingrese una contraseña.</div>

          <div class="display-flex-center">
            <button class="btn btn-primary" type="submit" id="submitModalForm-btn">
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-content {
    background-color: var(--clr-bg-dark);
    margin: 10% auto;
    /* Centrarse verticalmente */
    padding: 20px;
    border: 2px solid var(--clr-primary);
    width: 80%;
    max-width: 500px;
    /* Limitar el ancho máximo */
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 212, 255, 0.5);
    position: relative;
    filter: drop-shadow(0px 0px 30px rgba(0, 212, 255, 0.5));
  }

  /* Encabezado del modal */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--clr-neon-blue);
    margin-bottom: -20px;
  }

  h5 {
    color: var(--clr-primary);
  }

  .modal-body {
    margin-top: 35px;
  }

  .edit-modal-title {
    color: var(--clr-primary);
    font-size: 1.5em;
    font-weight: 500;
  }

  .close {
    color: var(--clr-secondary);
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .close:hover {
    color: var(--clr-primary);
  }

  /* Estilos del formulario */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .modal-body label {
    font-size: 1.1em;
    color: var(--clr-text);
    flex: 1;
    margin: 0 0 -30px 0;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--clr-neon-blue);
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    transition: border 0.3s ease;
  }

  input:focus {
    border-color: var(--clr-neon-green);
  }

  button#submitModalForm-btn {
    background: linear-gradient(45deg,
        var(--clr-primary),
        var(--clr-secondary));
    border: none;
    border-radius: 10px;
    color: var(--clr-bg-dark);
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    justify-items: center;
  }

  button#submitModalForm-btn:hover {
    background: linear-gradient(45deg,
        var(--clr-secondary),
        var(--clr-primary));
  }
</style>