<!-- Middle Section -->
<section class="middle-section display-center">
  <div id="middleSection" class="display-center">
    <div class="display-flex-center">
      <h1>Registro de: ____</h1>
      <ion-icon
        name="add-circle-outline"
        data-bs-toggle="modal"
        data-bs-target="#newRegisterModal"
        id="showModalButton"
      ></ion-icon>
    </div>
  </div>
</section>

<style>
  .middle-section {
    margin-top: 5em;
  }

  #middleSection {
    max-width: 400px;
  }

  .middle-section h1 {
    margin: 1em;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--clr-bg-light);
  }
</style>
